/* Header */

.navbar.navbar-expand-lg {
    margin:0 auto; /*center the element*/
    width: 81% !important;/* customize width you want */
    padding-bottom: 10.5px;
}

.nav-link {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 14px;
}

.nav-item {
    padding: 0px 10px 0px 10px;
    margin: 0 !important;
}
.navbar-nav.me-auto a {
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
    letter-spacing: 0px;
    padding: 0 10px;
}

.navbar-nav.me-auto a::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #2d61bf;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    transition: width 0.20s cubic-bezier(0.4, 0, 1, 1);
}

.navbar-nav.me-auto a:hover::after {
    width: 100%;
}

.jplang {
    font-size: 12px;
    color: white;
}

.nav-link.jplang a:hover {
    color:#2d61bf;
    font-size: 5px;
}

/* Header */

#form {
    padding-top: 1px;
    padding-bottom: 50px;
    height: 50;

  }
  input[type='select']{
    width: 20px;
    height: 100px;
    padding: 12px 20px;
  }
  input[type='text']:focus,
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
  input[type='text'],
  text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
  input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
  }
  textarea {
    width: 300px;
    height: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

/* Footer */

.navbar.navbar-expand-lg.footy {
    margin:0 auto; /*center the element*/
    width: 81% !important;/* customize width you want */
    padding-bottom: 10.5px;
}

.footer.flex {
    padding-top: 7px;
    width: 100% !important;
    bottom: 0;
    position: fixed;
}

.nav-item.foooter {
    padding: 4px 20px;
    margin: 0 !important;
}

.nav-item.fooooter {
    padding-left: 2px;
    font-size: 12px !important;
}

.nav-link.foooooter {
    font-size: 12px;
    color: white;
}

.nav-link.cp {
    color: #898991;
    font-size: 12px;
    padding-left: 365px;
}

.nav.flex {
    color: white;
    text-decoration: none;
}

.nav.flex a:hover {
    color: #b5b5c2;
    text-decoration: underline;
    text-decoration-color: white;
}

/* Footer */